<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-60@2x</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>5.2</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Multiplanes</string>
	<key>CFBundleIdentifier</key>
	<string>GameOfDucks.Multiplanes</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
